body {
    background-color: black
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 300px;
    height: 300px;
}

.abstract {
    color: white;
}
// ol {
//     style: none;
// }